go 1.19

use (   
    ./lasagna
    ./hello-world
    ./weather-forecast
    ./cars-assemble
    ./annalyns-infiltration
    ./welcome-to-tech-palace
    ./vehicle-purchase
    ./party-robot
    ./blackjack
    ./need-for-speed
    ./card-tricks
    ./animal-magic
    ./bird-watcher
    ./interest-is-interesting
    ./lasagna-master
    ./booking-up-for-beauty
    ./gross-store
    ./chessboard
    ./election-day
    ./elons-toys
    ./logs-logs-logs
    ./census
    ./the-farm
    ./parsing-log-files
    ./meteorology
    ./sorting-room
    ./expenses
)