go 1.19

use (
    ./lasagna
    ./hello-world
    ./weather-forecast
    ./cars-assemble
    ./annalyns-infiltration
    ./welcome-to-tech-palace
    ./vehicle-purchase
    ./party-robot
    ./blackjack
    ./need-for-speed
    ./card-tricks
    ./animal-magic
    ./bird-watcher
)